body h1 {
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-bottom: 20px;
  width: 500px;
}

.output {
  display: flex;
  justify-content: center;
}
